body{
  
  background-image: url("https://media.istockphoto.com/vectors/blue-brush-pattern-background-vector-id1295094894?k=20&m=1295094894&s=612x612&w=0&h=gs8Oe_UXiSa-VTg6fYsY2955SAQt12-gs_B0ApzHQWI=");
  color: black ; 
  font-family: Arial, Helvetica, sans-serif;
     width: 750px;
     margin: 50px auto;
     border: 50px ;
   
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-left: 1rem black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-right: 1rem black;
  
}
img {
  width: 150px;  
 border-radius: 40px;
  padding: 15px;
  
}
div.gallery {
  margin: 5px;
  
  float: left;
  width: 180px;
  padding: 10px;
}

div.gallery:hover {
  
}

div.gallery img {
  width: 101%;
  height: 250px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: black;
}
